{% extends "acte/header.html" %}
{% block content %}
<br>
<br>

<div class="container">

  <h3>  {{ document.name }}</h3>
  <ul class="list-group">
    <li class="list-group-item"><b>Documente necesare: </b>{{ document.requirements }}</li>
    <li class="list-group-item"><b>Institutie: </b>{{ document.institution }}</li>
    <li class="list-group-item"><b>Adresa: </b>{{ document.address }}</li>
    <li class="list-group-item"><b>Extra: </b>{{ document.extra }}</li>
    <li class="list-group-item"><b>Link-uri utile: </b>{{ document.links }}</li>
  </ul>


</div>
{% endblock %}
