{% extends "acte/header.html" %}
{% block content %}
<br>
<br>

<div class="container">

  <h3>  {{ document.name }}</h3>
  <ul class="list-group">
    <li class="list-group-item"><b></b>{{ document.name }}</li>
    <li class="list-group-item"><b></b>{{ document.name }}</li>
    <li class="list-group-item"><b></b>{{ document.name }}</li>
    <li class="list-group-item"><b></b>{{ document.name }}</li>
    <li class="list-group-item"><b></b>{{ document.name }}</li>
  </ul>


</div>
{% endblock %}
