{% extends "acte/header.html" %}
{% block content %}
{% load staticfiles %}
<header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">ActeNecesare.ro</h1>
          <h2 class="display-4 text-white">Gaseste actele de care ai nevoie</h2>
          <form>
          <div class="form-group">
            <div class="col-lg-8">
              <input class="form-control" id="inputSearch" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=836" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">For those about to rock...</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=452" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-5">
              <h2 class="display-4">We salute you!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=453" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Let there be rock!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!--   <div class="row">
       <div class="col s12 m3 l3">
     <div class="card">
       <a href="/categorie/identitate">
       <div class="card-image">
         <img src="https://image.flaticon.com/icons/svg/148/148858.svg">

       </div>
     </a>
       <div class="card-action">
         <a href="/categorie/identitate">identitate</a>
       </div>
     </div>
   </div>
   <div class="col s12 m3 l3">
 <div class="card">
   <a href="/categorie/auto">
   <div class="card-image">
     <img src="{% static 'acte/img/car.svg' %}">

   </div>
        </a>
   <div class="card-action">
     <a href="/categorie/auto">auto</a>
   </div>
 </div>
</div>
<div class="col s12 m3 l3">
<div class="card">
  <a href="/categorie/firma">
<div class="card-image">
  <img src="https://image.flaticon.com/icons/png/512/144/144041.png">

</div>
     </a>
<div class="card-action">
  <a href="/categorie/firma">firma</a>
</div>
</div>
</div>
<div class="col s12 m3 l3">
<div class="card">
  <a href="/categorie/imobiliar">
<div class="card-image">
  <img src="https://image.flaticon.com/icons/png/512/543/543977.png">

</div>
     </a>
<div class="card-action">
  <a href="/categorie/imobiliar">imobiliare</a>
</div>
</div>
</div>
         </div>

         <div class="row">
           <div class="col s12 m3 l3">
         <div class="card">
           <a href="/categorie/social">
           <div class="card-image">
             <img src="https://image.flaticon.com/icons/png/512/291/291930.png">

           </div>
                </a>
           <div class="card-action">
             <a href="/categorie/social">social</a>
           </div>
         </div>
       </div>
       <div class="col s12 m3 l3">
     <div class="card">
       <a href="/categorie/educational">
       <div class="card-image">
         <img src="https://image.flaticon.com/icons/png/512/295/295417.png">


       </div>
            </a>
       <div class="card-action">
         <a href="/categorie/educational">educational</a>
       </div>
     </div>
    </div>
    <div class="col s12 m3 l3">
    <div class="card">
      <a href="/categorie/medical">
    <div class="card-image">
      <img src="https://image.flaticon.com/icons/png/512/354/354342.png">

    </div>
         </a>
    <div class="card-action">
      <a href="/categorie/medical">medical</a>
    </div>
    </div>
    </div>
    <div class="col s12 m3 l3">
    <div class="card">
      <a href="/categorie/etc">
    <div class="card-image">
      <img src="https://www.flaticon.com/premium-icon/icons/svg/277/277320.svg">

    </div>
         </a>
    <div class="card-action">
      <a href="/categorie/etc">alte domenii</a>
    </div>
    </div>
    </div>
  </div> -->

{% endblock %}
