{% extends "acte/header.html" %}
{% block content %}
{% load staticfiles %}
<div class="row" style="padding: 100px 100px">
       <div class="input-field col s12">
         <input placeholder="Placeholder" id="search" type="text" class="validate">
           <label for="first_name">Search</label>
       </div>
     </div>


     <div class="row">
       <div class="col s12 m3 l3">
     <div class="card">
       <a href="/categorie/identitate">
       <div class="card-image">
         <img src="https://image.flaticon.com/icons/svg/148/148858.svg">

       </div>
     </a>
       <div class="card-action">
         <a href="/categorie/identitate">identitate</a>
       </div>
     </div>
   </div>
   <div class="col s12 m3 l3">
 <div class="card">
   <a href="/categorie/auto">
   <div class="card-image">
     <img src="{% static 'acte/img/car.png' %}">

   </div>
        </a>
   <div class="card-action">
     <a href="/categorie/auto">auto</a>
   </div>
 </div>
</div>
<div class="col s12 m3 l3">
<div class="card">
  <a href="/categorie/firma">
<div class="card-image">
  <img src="https://image.flaticon.com/icons/png/512/144/144041.png">

</div>
     </a>
<div class="card-action">
  <a href="/categorie/firma">firma</a>
</div>
</div>
</div>
<div class="col s12 m3 l3">
<div class="card">
  <a href="/categorie/imobiliar">
<div class="card-image">
  <img src="https://image.flaticon.com/icons/png/512/543/543977.png">

</div>
     </a>
<div class="card-action">
  <a href="/categorie/imobiliar">imobiliare</a>
</div>
</div>
</div>
         </div>

         <div class="row">
           <div class="col s12 m3 l3">
         <div class="card">
           <a href="/categorie/social">
           <div class="card-image">
             <img src="https://image.flaticon.com/icons/png/512/291/291930.png">

           </div>
                </a>
           <div class="card-action">
             <a href="/categorie/social">social</a>
           </div>
         </div>
       </div>
       <div class="col s12 m3 l3">
     <div class="card">
       <a href="/categorie/educational">
       <div class="card-image">
         <img src="https://image.flaticon.com/icons/png/512/295/295417.png">


       </div>
            </a>
       <div class="card-action">
         <a href="/categorie/educational">educational</a>
       </div>
     </div>
    </div>
    <div class="col s12 m3 l3">
    <div class="card">
      <a href="/categorie/medical">
    <div class="card-image">
      <img src="https://image.flaticon.com/icons/png/512/354/354342.png">

    </div>
         </a>
    <div class="card-action">
      <a href="/categorie/medical">medical</a>
    </div>
    </div>
    </div>
    <div class="col s12 m3 l3">
    <div class="card">
      <a href="/categorie/etc">
    <div class="card-image">
      <img src="https://www.flaticon.com/premium-icon/icons/svg/277/277320.svg">

    </div>
         </a>
    <div class="card-action">
      <a href="/categorie/etc">alte domenii</a>
    </div>
    </div>
    </div>
             </div>

{% endblock %}
