{% extends "acte/header.html" %}
{% block content %}
<br>
<br>

<div class="container">
  <h3>  {{ institution.name }}</h3>
  <ul class="list-group">
    <li class="list-group-item"><b></b>{{ institution.requirements }}</li>
    <li class="list-group-item"><b></b>{{ institution.adress }}</li>
    <li class="list-group-item"><b></b>{{ institution.program }}</li>
    <li class="list-group-item"><b></b>{{ institution.documents }}</li>
    <li class="list-group-item"><b></b>{{ institution.link }}</li>
  </ul>

</div>
{% endblock %}
