{% extends "acte/header.html" %}
{% block content %}
<br>
<br>

<div class="container">
  <h3>  {{ institution.name }}</h3>
  <ul class="list-group">
    <li class="list-group-item"><b>Adresa: </b>{{ institution.address }}</li>
    <li class="list-group-item"><b>Program:</b>{{ institution.program }}</li>
    <li class="list-group-item"><b>Documente eliberate: </b>{{ institution.documents }}</li>
    <li class="list-group-item"><b>Link-uri utile: </b>{{ institution.links }}</li>
  </ul>

</div>
{% endblock %}
